html, body {
  background-color: #b667eb;
}

.container {
  max-width: 80%;
}

.container .row .col-xs-12 {
  background-color: #fff;
  height: 768px;
  padding-top: 20px;
}

.container .row .col-xs-12 div#content {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 10%;
}
